black>=23.3
# https://stackoverflow.com/questions/72191560/importerror-cannot-import-name-soft-unicode-from-markupsafe
markupsafe==2.0.1
mypy>=1.6
pre-commit>=3.5
pytest>=7.3
pytest-cov>=4.0
ruff>=0.1
sphinx>=5.3
sphinx-autodoc-typehints>=1.22
sphinx_rtd_theme>=1.2
