aiohttp==3.7.4
aioredis==1.3.1
cloudpickle==1.6.0
coloredlogs==15.0.1
gputil==1.4
gym==0.18
matplotlib>=3.0
# TODO: update with mercury pypi package name
# mercury==0.2
networkx>=2.5
numpy==1.19.3
pickle5==0.0.11
profilehooks==1.12.0
ray[rllib]==1.9.2
tabulate==0.8.9
tensorflow==2.5
termcolor==1.1
tqdm==4.62.3
