# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Workflow

on:
  pull_request:
    branches: [ main, develop ]
  push:
    branches: [ main, develop ]

jobs:
  lint-black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: psf/black@stable

  lint-flake8:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Set up action
      run: |
        python -m pip install --upgrade pip
        pip install flake8

    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

  test-mercury:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install wheel
        pip install -r mercury/requirements.txt
        pip install -r mercury/requirements-dev.txt

    - name: Install Mercury
      run: |
        cd mercury
        python setup.py develop --user -O2

    - name: Run Mercury tests
      run: |
        cd mercury
        pytest tests

  test-phantom:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install wheel
        pip install -r mercury/requirements.txt
        pip install -r phantom/requirements.txt
        pip install -r phantom/requirements-dev.txt

    - name: Install Mercury
      run: |
        cd mercury
        python setup.py develop --user -O2

    - name: Install Phantom
      run: |
        cd phantom
        python setup.py develop --user -O2

    - name: Run Phantom tests
      run: |
        cd phantom
        pytest tests

  build-docs-mercury:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install wheel
        pip install -r mercury/requirements.txt
        pip install -r mercury/requirements-dev.txt

    - name: Install Mercury
      run: |
        cd mercury
        python setup.py develop --user -O2

    - name: Build Mercury docs
      run: |
        cd mercury/docs
        make html

  build-docs-phantom:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install wheel
        pip install -r mercury/requirements.txt
        pip install -r phantom/requirements.txt
        pip install -r phantom/requirements-dev.txt

    - name: Install Mercury
      run: |
        cd mercury
        python setup.py develop --user -O2

    - name: Install Phantom
      run: |
        cd phantom
        python setup.py develop --user -O2

    - name: Build Phantom docs
      run: |
        cd phantom/docs
        make html
